<!-- <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://image.freepik.com/free-vector/music-event-horizontal-poster-flyer-template-with-gradient-colorful-design_85212-212.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <div class="card pt-2 pb-2 bg-black font-white col-md-4  mb-sm-0">
            <div class="mt-2">
                <img src="https://image.freepik.com/free-vector/music-event-horizontal-poster-flyer-template-with-gradient-colorful-design_85212-212.jpg" class="card-img-top" alt="..." />
                <div class='clubNeme float-start bg-light-black mt-3 mb-2 ps-3 pe-3 pt-1'>
                    Mon, Dec 04  7:30PM
                </div>
                <h5 class='float-start'>A guide to building an edtech startup</h5>
            </div>
            <div class='Profile-footer mt-2'>
                <button class="btn btn-primary">
                    Register now
                </button>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-80" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

  <div class="container">
    <div class='row'>
        <div class="card pt-2 pb-2 bg-black font-white col-md-4  mb-sm-0 m-2">
            <div class="mt-2" (click)="eventById(3)">
                <img src="https://image.freepik.com/free-vector/music-event-horizontal-poster-flyer-template-with-gradient-colorful-design_85212-212.jpg" class="card-img-top" alt="..." />
                <div class='clubNeme float-start bg-light-black mt-3 mb-2 ps-3 pe-3 pt-1'>
                    Mon, Dec 04  7:30PM
                </div>
                <h5 class='float-start'>A guide to building an edtech startup</h5>
            </div>
            <div class='Profile-footer mt-2'>
                <button class="btn btn-local btn-primary">
                    Register now
                </button>
            </div>
        </div>
        <div class="card pt-2 pb-2 bg-black font-white col-md-4  mb-sm-0 m-2">
            <div class="mt-2" >
                <img src="https://image.freepik.com/free-vector/music-event-horizontal-poster-flyer-template-with-gradient-colorful-design_85212-212.jpg" class="card-img-top" alt="..." />
                <div class='clubNeme float-start bg-light-black mt-3 mb-2 ps-3 pe-3 pt-1'>
                    Mon, Dec 04  7:30PM
                </div>
                <h5 class='float-start'>A guide to building an edtech startup</h5>
            </div>
            <div class='Profile-footer mt-2'>
                <button class="btn btn-local btn-primary">
                    Register now
                </button>
            </div>
        </div>
        <div class="card pt-2 pb-2 bg-black font-white col-md-4  mb-sm-0 m-2">
            <div class="mt-2">
                <img src="https://image.freepik.com/free-vector/music-event-horizontal-poster-flyer-template-with-gradient-colorful-design_85212-212.jpg" class="card-img-top" alt="..." />
                <div class='clubNeme float-start bg-light-black mt-3 mb-2 ps-3 pe-3 pt-1'>
                    Mon, Dec 04  7:30PM
                </div>
                <h5 class='float-start'>A guide to building an edtech startup</h5>
            </div>
            <div class='Profile-footer mt-2'>
                <button class="btn btn-local btn-primary">
                    Register now
                </button>
            </div>
        </div>
    </div>
</div>

